<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technology                                                                                                                                                                                                                   </title>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css
    "> -->
    <link rel="stylesheet" href="/css/allcourses.css">
    <link rel="icon" href="/images/eagle.png">
    
</head>
<body>
    <!-- for the generalcourses overlay -->
    <div class="coursescontrol">
            <p id="cp1"><span id="cspan1">We</span> offers an innovative way to learn and grow from a beginner level to a certified
            expert in all of our Career Path within eighteen(18) months. Six(6) months for each level. <span id="cspan2">Level 1,</span> <span id="cspan2">Level 2</span> and <span id="cspan2">Level 3</span>.</p>
            <p id="cp2">View our Courses offer</p>
            <div class="leftandrightcontrol">
                <!-- <div class="closecourse">
                    <a href="index.html">Go Back</a>
                </div> -->
                <!-- <div class="applyforadmission3 applynowform"><a href="#" class="afap3 anf1">Apply</a></div> -->
                <div id="allbutton1">
                    <button onclick="left()" id="leftbutton">&#10094;</button>
                    <!-- <div id="allbutton2"> -->
                    <button onclick="right()" id="rightbutton">&#10095;</button>
                    <!-- </div> -->
                </div>
            </div>
            <div class="maincoursescontrol">
                <div class="ourcoursescontrol">
                    <!-- Information Technology -->
                    <div class="informationtechnology">
                        <p id="cp3">Information Technology</p>
                        <p id="cp4">Level 1 - AIIST Professional Certificate in Information Technology &#9660;</p>
                        <table>
                            <tr>
                                <th>Duration</th>
                                <td id="cp5">Six(6) months</td>
                            </tr>
                            <tr>
                                <th>Courses</th>
                                <td>
                                    <ol>
                                        <li>Computer Awareness</li>
                                        <li>Ms. WIndows 8.1</li>
                                        <li>Touch Typing</li>
                                        <li>Ms. Word 2013</li>
                                        <li>Ms. Excel 2013</li>
                                        <li>Ms. PowerPoint 2013</li>
                                        <li>Ms. Outlook 2013</li>
                                        <li>Internet Research & Reporting</li>
                                        <li>Introduction to Hardware & Computer Maintenance</li>
                                        <li>Networking Concept</li>
                                    </ol>
                                </td>
                            </tr>
                        </table>
                        <p id="cp4">Level 2 - AIIST Advanced Professional Diploma in Information Technology &#9660;</p>
                        <table>
                            <tr>
                                <th>Duration</th>
                                <td id="cp5">Six(6) months</td>
                            </tr>
                            <tr>
                                <th>Courses</th>
                                <td>
                                    <ol>
                                        <li>Working with CPUs, RAM, motherboards, power supplies, and other PC components</li>
                                        <li>Install, configure and troubleshoot hard drives</li>
                                        <li>Manage input devices and removable media</li>
                                        <li>Install, upgrade and troubleshoot Microsoft Windows</li>
                                        <li>Install video and multimedia cards</li>
                                        <li>Work with smartphones, tablets and other mobile devices</li>
                                        <li>Software troubleshooting</li>
                                        <li>Network Architectures</li>
                                        <li>Cabling and Topology</li>
                                        <li>Ethernet basics</li>
                                        <li>Network Installation</li>
                                        <li>TCI/IP Applications and Network Protocols</li>
                                        <li>Routing</li>
                                        <li>Network Naming</li>
                                        <li>Advanced Networking Devices</li>
                                        <li>Remote Connectivity</li>
                                        <li>Wireless Networking</li>
                                        <li>Virtualization and Cloud Computing</li>
                                        <li>Network Operations</li>
                                        <li>Managing Risk</li>
                                        <li>Network Security</li>
                                        <li>Network Monitoring and Troubleshooting</li>
                                    </ol>
                                </td>
                            </tr>
                        </table>
                        <p id="cp4">Level 3 - AIIST Expert Diploma in System Engineering &#9660;</p>
                        <table>
                            <tr>
                                <th>Duration</th>
                                <td id="cp5">Six(6) months</td>
                            </tr>
                            <tr>
                                <th>Courses</th>
                                <td>
                                    <ol>
                                        <li>Installing and Configuring Windows 8 Client</li>
                                        <li>Deploying Windows Server 2012</li>
                                        <li> Configuring and Troubleshooting a Windows Server 2012 Network Infrastructure</li>
                                        <li>Designing a Windows Server 2012 Active Directory Instracture and Services</li>
                                        <li>Configuring and Troubleshooting Windows Server 2012 Active Directory Domain Services</li>
                                        <li>Configuring, Managing, and Troubleshooting Microsoft Exchange Server 2016</li>
                                        <li> Designing and Deploying Messaging Solutions with Microsoft Exchange Server 2016</li>
                                    </ol>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- Information Technology ends -->
                    <!-- database Technology -->
                    <div class="informationtechnology database margincontrol">
                        <p id="cp3">Database Technology</p>
                        <p id="cp4">Level 1 - AIIST Professional Certificate in Database Technology &#9660;</p>
                        <table>
                            <tr>
                                <th>Duration</th>
                                <td id="cp5">Six(6) months</td>
                            </tr>
                            <tr>
                                <th>Courses</th>
                                <td>
                                    <ol>
                                        <li>Computer Awareness</li>
                                        <li>Ms. WIndows 8.1</li>
                                        <li>Touch Typing</li>
                                        <li>Ms. Word 2013</li>
                                        <li>Ms. Excel 2013</li>
                                        <li>Ms. Outlook 2013</li>
                                        <li>Internet Research & Reporting</li>
                                        <li>Microsoft Access Database Design and Development</li>
                                        <li>Microsoft Access Database Security</li>
                                    </ol>
                                </td>
                            </tr>
                        </table>
                        <p id="cp4">Level 2 - AIIST Advanced Diploma in Database Administration &#9660;</p>
                        <table>
                            <tr>
                                <th>Duration</th>
                                <td id="cp5">Six(6) months</td>
                            </tr>
                            <tr>
                                <th>Courses</th>
                                <td>
                                    <ol>
                                        <li>Advanced Programming in Microsoft Access 2013</li>
                                        <li> Microsoft SQL Server 2014 Development</li>
                                        <li>Microsoft SQL Server 2014 Administration</li>
                                        <li>Introduction to Oracle 11g PL/SQL</li>
                                        <li> Oracle 11g Administration Workshop</li>
                                        <li>Project Work</li>
                                    </ol>
                                </td>
                            </tr>
                        </table>
                        <p id="cp4">Level 3 - AIIST Expert Diploma in Database Development &#9660;</p>
                        <table>
                            <tr>
                                <th>Duration</th>
                                <td id="cp5">Six(6) months</td>
                            </tr>
                            <tr>
                                <th>Courses</th>
                                <td>
                                    <ol>
                                        <li>Advanced PL/SQL</li>
                                        <li> Oracle Forms</li>
                                        <li>Oracle Reports</li>
                                        <li>Business Intelligence using Microsoft SQL 2016</li>
                                        <li>Business Intelligence using Oracle</li>
                                        <li>Business Intelligence using Tableau 10</li>
                                        <li>Project and Portfolio</li>
                                    </ol>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- database Technology ends -->
                    <!-- Software engineering -->
                    <div class="informationtechnology softwareengineer">
                        <p id="cp3">Software Engineering</p>
                        <p id="cp4">Level 1 - AIIST Professional Certificate Software Engineering &#9660;</p>
                        <table>
                            <tr>
                                <th>Duration</th>
                                <td id="cp5">Six(6) months</td>
                            </tr>
                            <tr>
                                <th>Courses</th>
                                <td>
                                    <ol>
                                        <li>Computer Awareness</li>
                                        <li>Ms. WIndows 8.1</li>
                                        <li>Touch Typing</li>
                                        <li>  Ms. Word 2013</li>
                                        <li>Ms. Excel 2013</li>
                                        <li>Ms. PowerPoint 2013</li>
                                        <li>Ms. Outlook 2013</li>
                                        <li>Internet Research & Reporting</li>
                                        <li>Programming Concept</li>
                                        <li>Introduction to HTML5 & CSS3</li>
                                    </ol>
                                </td>
                            </tr>
                        </table>
                        <p id="cp4">Level 2 - AIIST Advanced Professional Diploma in Software Engineering &#9660;</p>
                        <table>
                            <tr>
                                <th>Duration</th>
                                <td id="cp5">Six(6) months</td>
                            </tr>
                            <tr>
                                <th>Courses</th>
                                <td>
                                    <ol>
                                        <li>HTML5</li>
                                        <li>CSS3</li>
                                        <li>JavaScript</li>
                                        <li>JQuery</li>
                                        <li>Adobe Dreamweaver CC 2017</li>
                                        <li>PhoneGap</li>
                                        <li>Java</li>
                                        <li>Project Work</li>
                                    </ol>
                                </td>
                            </tr>
                        </table>
                        <p id="cp4">Level 3 - AIIST Expert Diploma in Software Engineering &#9660;</p>
                        <table>
                            <tr>
                                <th>Duration</th>
                                <td id="cp5">Six(6) months</td>
                            </tr>
                            <tr>
                                <th>Courses</th>
                                <td>
                                    <ol>
                                        <li>Advanced Java</li>
                                        <li>Angular JS</li>
                                        <li>Adobe Dreamweaver CC 2017</li>
                                        <li>PhoneGap</li>
                                        <li>Mobile Security</li>
                                        <li>Project Work</li>
                                    </ol>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- softwareengineer ends -->
                    <!-- webdevelopment -->
                    <div class="informationtechnology webdevelopment margincontrol">
                        <p id="cp3">Web Development</p>
                        <p id="cp4">Level 1 - AIIST Professional Certificate in Web Development &#9660;</p>
                        <table>
                            <tr>
                                <th>Duration</th>
                                <td id="cp5">Six(6) months</td>
                            </tr>
                            <tr>
                                <th>Courses</th>
                                <td>
                                    <ol>
                                        <li>Computer Awareness</li>
                                        <li>Ms. WIndows 8.1</li>
                                        <li>Touch Typing</li>
                                        <li>Ms. Word 2013</li>
                                        <li>Ms. Excel 2013</li>
                                        <li>Ms. PowerPoint 2013</li>
                                        <li>Ms. Outlook 2013</li>
                                        <li>Internet Research & Reporting</li>
                                        <li>Introduction to Web Design & Development</li>
                                        <li>Introduction to HTML5 & CSS3</li>
                                    </ol>
                                </td>
                            </tr>
                        </table>
                        <p id="cp4">Level 2 - AIIST Advanced Professional Diploma in Web Development &#9660;</p>
                        <table>
                            <tr>
                                <th>Duration</th>
                                <td id="cp5">Six(6) months</td>
                            </tr>
                            <tr>
                                <th>Courses</th>
                                <td>
                                    <ol>
                                        <li>HTML5</li>
                                        <li>CSS3</li>
                                        <li>JavaScript</li>
                                        <li>JQuery</li>
                                        <li>Adobe Dreamweaver CC 2017</li>
                                        <li>Adobe Photoshop CC 2017</li>
                                        <li>Bootstrap 4.0</li>
                                        <li>Search Engine Optimization</li>
                                        <li>Project</li>
                                    </ol>
                                </td>
                            </tr>
                        </table>
                        <p id="cp4">Level 3 - AIIST Expert Diploma in Web Development &#9660;</p>
                        <table>
                            <tr>
                                <th>Duration</th>
                                <td id="cp5">Six(6) months</td>
                            </tr>
                            <tr>
                                <th>Courses</th>
                                <td>
                                    <ol>
                                        <li>PHP</li>
                                        <li>MySQL</li>
                                        <li>ASP.Net</li>
                                        <li>Adobe Dreamweaver CC 2017</li>
                                        <li>Microsoft Visual Studio 2017</li>
                                        <li>Managing e-Commerce Website</li>
                                        <li>Advanced Search Engine Optimization</li>
                                        <li>SSL Security</li>
                                        <li> Project</li>
                                    </ol>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- webdevelopment ends -->
                    <!-- Graphic Design -->
                    <div class="informationtechnology graphicdesign">
                        <p id="cp3">Graphic Design</p>
                        <p id="cp4">Level 1 - AIIST Professional Certificate in Graphic Design &#9660;</p>
                        <table>
                            <tr>
                                <th>Duration</th>
                                <td id="cp5">Six(6) months</td>
                            </tr>
                            <tr>
                                <th>Courses</th>
                                <td>
                                    <ol>
                                        <li>Computer Awareness</li>
                                        <li>Ms. WIndows 8.1</li>
                                        <li>Touch Typing</li>
                                        <li>Ms. Word 2013</li>
                                        <li>Ms. Excel 2013</li>
                                        <li>Ms. PowerPoint 2013</li>
                                        <li>Ms. Outlook 2013</li>
                                        <li>Internet Research & Reporting</li>
                                        <li> Ms. Publisher 2013</li>
                                        <li>CorelDraw</li>
                                    </ol>
                                </td>
                            </tr>
                        </table>
                        <p id="cp4">Level 2 - AIIST Advanced Professional Diploma in Graphic Design &#9660;</p>
                        <table>
                            <tr>
                                <th>Duration</th>
                                <td id="cp5">Six(6) months</td>
                            </tr>
                            <tr>
                                <th>Courses</th>
                                <td>
                                    <ol>
                                        <li>CorelDraw X8</li>
                                        <li>Adobe Photoshop CC 2017</li>
                                        <li> Adobe Illustrator CC 2017</li>
                                        <li>Adobe After Affects CC 2017</li>
                                        <li>Adobe InDesign CC 2017</li>
                                        <li> Project</li>
                                    </ol>
                                </td>
                            </tr>
                        </table>
                        <p id="cp4">Level 3 - AIIST Expert Diploma in Graphic Design &#9660;</p>
                        <table>
                            <tr>
                                <th>Duration</th>
                                <td id="cp5">Six(6) months</td>
                            </tr>
                            <tr>
                                <th>Courses</th>
                                <td>
                                    <ol>
                                        <li>Advanced Adobe Photoshop CC 2017</li>
                                        <li>Advanced Adobe Illustrator CC 2017</li>
                                        <li>Advanced Adobe After Affects CC 2017</li>
                                        <li>Advanced Adobe InDesign CC 2017</li>
                                        <li>Advanced Adobe InCopy CC 2017</li>
                                        <li> Project</li>
                                    </ol>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- Graphic Design ends -->
                    <!-- Computer Operations -->
                    <div class="informationtechnology computeroperation margincontrol">
                        <p id="cp3">Computer Operations</p>
                        <p id="cp4">AIIST Foundation Certificate in Computer Operations &#9660;</p>
                        <table>
                            <tr>
                                <th>Duration</th>
                                <td id="cp5">Four(4) months</td>
                            </tr>
                            <tr>
                                <th>Courses</th>
                                <td>
                                    <ol>
                                        <li>Computer Awareness</li>
                                        <li>Ms. WIndows 8.1</li>
                                        <li>Touch Typing</li>
                                        <li>Ms. Word 2013</li>
                                        <li>Ms. Excel 2013</li>
                                        <li>Ms. PowerPoint 2013</li>
                                        <li>Ms. Outlook 2013</li>
                                        <li>Internet Research & Reporting</li>
                                    </ol>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- computer operations ends -->
                    <!-- Advanced Excel -->
                    <div class="informationtechnology advanceexcel">
                        <p id="cp3">Advanced Excel</p>
                        <p id="cp4">AIIST Certificate in Advanced Excel for Business & Statistics &#9660;</p>
                        <table>
                            <tr>
                                <th>Duration</th>
                                <td id="cp5">One(1) month</td>
                            </tr>
                            <tr>
                                <th>Courses</th>
                                <td>
                                    <ol>
                                        <li>Database Analysis</li>
                                        <li>Advanced Excel formulas & Calculations</li>
                                        <li>Financial Reporting</li>
                                        <li>Operations Reporting System</li>
                                        <li>Product Analysis</li>
                                        <li>Reports & Graph Analysis</li>
                                    </ol>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- Advanced Excel ends-->
                    <!-- quickbookaccounting -->
                    <div class="informationtechnology quickbook margincontrolquickbook">
                        <p id="cp3">QuickBooks Accounting</p>
                        <p id="cp4">AIIST Professional Certificate in QuickBooks Accounting &#9660;</p>
                        <table>
                            <tr>
                                <th>Duration</th>
                                <td id="cp5">Six(6) weeks</td>
                            </tr>
                            <tr>
                                <th>Courses</th>
                                <td>
                                    <ol>
                                        <li>Navigating QuickBooks</li>
                                        <li> Working with Company Files</li>
                                        <li>Setting Up Shop / Inventory</li>
                                        <li>Adding Customers</li>
                                        <li>Working with Vendors</li>
                                        <li>Adding Employees</li>
                                        <li>Day-to-Day Operations</li>
                                        <li>Handling Special Cases</li>
                                        <li>Payroll</li>                                    
                                        <li>Sharing QuickBooks with others</li>                                    
                                        <li>Finding Information</li>                                    
                                        <li>Audits & Reporting</li>                                    
                                        <li>Bank Reconciliation</li>                                    
                                        <li> Customizing QuickBooks</li>
                                    </ol>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- quickbookaccounting ends-->
                </div>
                <!-- ourcoursescontrol ends -->
            </div>
            <!-- maincoursescontrol ends -->
        </div>
        <!-- for the generalcourses overlay ends-->
        <!-- apply now form -->
        <div class="applyform">
            <div class="applyform2">
                 <div class="applyform1">
                     <span class="applyformclose">&times;</span>
                     <form action="">
                         <input type="text" name="fistname" placeholder="First Name &#42;" required><br>
                         <input type="text" name="lastname" placeholder="Last Name &#42;"><br>
                         <input type="text" name="course" list="courses" placeholder="Course &#42;"><br>
                         <datalist id="courses">
                         <option value="Information Technology">
                         <option value="Database Technology">
                         <option value="Software Engineering">
                         <option value="Web Development">
                         <option value="Graphic Design">
                         <option value="Computer Operation">
                         <option value="Advanced Excel">
                         <option value="QuickBook Accounting">
                         </datalist>  
                         <input type="text" name="number" placeholder="Number(+231) &#42;" required><br>
                         <input type="email" name="email" placeholder="Email(optional) &#42;"><br>
                         <button class="applysubmit">Submit</button>
                     </form>
                 </div>
            </div>
         </div>
         <!-- apply now form ends -->
    <script src="indexaiistwebjs.js"></script>
    <script>
        function left(){
        var leftt=document.querySelector(".ourcoursescontrol");
        leftt.scrollBy(-300, 20);
        }
        function right(){
            var rightt=document.querySelector(".ourcoursescontrol");
            rightt.scrollBy(300, 20);
        }
    </script>
</body>
</html>